* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

em {
  font-style: normal; }

body {
  font: 12px "Microsoft YaHei"; }

.left {
  float: left; }

.right {
  float: right; }

.clear:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden; }

#head {
  width: 100%; }

.head-top {
  width: 1200px;
  height: 33px;
  margin: 0 auto;
  background: #F5F5F5; }
  .head-top .top-l {
    margin: 8px 0;
    height: 33px; }
    .head-top .top-l a {
      color: #37a0db; }
      .head-top .top-l a img {
        width: 18px;
        height: 16px; }

#head .top-r li {
  float: left;
  margin: 10px 0; }
  #head .top-r li strong {
    display: inline-block;
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-top: 5px solid #37a0db;
    margin: 0 3px; }
  #head .top-r li a {
    margin: 0 3px; }

.section {
  width: 1200px;
  margin: 0 auto; }

.section .logo {
  margin: 15px 60px 0 0; }

.section .logo img {
  width: 200px;
  margin-left: -240px; }

.search .search-t span {
  border-radius: 2px;
  display: inline-block;
  width: 46px;
  height: 20px;
  margin: 3px;
  background: #37A0DB;
  text-align: center;
  line-height: 20px;
  color: #fff; }

.search .search-m .box {
  width: 600px;
  height: 35px;
  background: #37A0DB;
  border: 2px solid #37A0DB; }
  .search .search-m .box input {
    border-left: 2px solid #37A0DB;
    width: 500px;
    height: 30px;
    border: 0;
    outline: 0; }
  .search .search-m .box button {
    width: 90px;
    height: 36px;
    border: 0;
    outline: 0;
    background: #37A0DB; }

.search .search-b {
  height: 20px;
  margin-left: -10px;
  padding: 4px 0 0;
  width: 100%; }
  .search .search-b li {
    border-left: 1px solid #ccc;
    display: inline-block;
    line-height: 1.1;
    padding: 0 12px; }
  .search .search-b li:nth-of-type(1) {
    border-left: 0; }

.section .call {
  margin-top: 20px; }

.nav {
  width: 1200px;
  margin: 0 auto; }

.nav li {
  float: left;
  height: 40px;
  padding-right: 3px;
  width: 120px; }
  .nav li .nav-left {
    display: inline-block;
    height: 40px;
    width: 240px; }
    .nav li .nav-left h2 {
      font-size: 18px;
      line-height: 40px;
      padding-left: 25px; }
  .nav li a {
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 120px; }
